* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(70deg, #fdb33bd0 0%, #ffbc509b 100%);*/
    background-color: #6c5ce76e;
    display: flex;
    user-select: none;
}

.menu {
    width: 15%;
    height: 100vh;
    position: relative;
}

.menu menu {
    position: fixed;
    top: 50%;
    padding: 30px;
    transform: translateY(-50%);
    width: 15%;
}

.menu menu ul {
    list-style: none;
    width: 100%;
}

.menu a {
    text-decoration: none;
    outline: none;
}

.menu menu ul li {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    opacity: 1;
    background-color: #6c5ce76e;
}

.menu ul li i {
    margin-right: 15px;
    width: 10px;
    color: rgb(78, 78, 78);
    color: white;
    line-height: 25px;
}

.menu ul li h4 {
    color: rgb(78, 78, 78);
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

.cont {
    width: 100%;
    display: flex;
}

.container {
    width: 84%;
    position: relative;
    background-color: white;
    height: 96vh;
    margin-top: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    overflow-y: auto;
    display: flex;
}

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #6c5ce7c5 0%, #ffd1ff 50%, #6c5ce76e 100%);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #6c5ce7c5;
}

.user-list {
    width: 450px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px 40px;
    background-color: white;
    /*border: 1px #6c5ce7b9 solid;*/
    border-radius: 20px;
    top: 30px;
    height: calc(100% - 60px);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    overflow: hidden;
    overflow-y: auto;
}

.user-list ul {
    list-style: none;
}

.user-list ul li {
    background-color: #6c5ce76e;
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    opacity: 0.6;
    cursor: pointer;
}

.user-list a {
    text-decoration: none;
    color: white;
}

.user-list ul li .message {
    margin-left: 20px;
}

.user-list ul li .message p {
    margin-top: -10px;
}

.user-list ul li img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-list ul .notif {
    opacity: 1;
}

.dm {
    width: 850px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 20px 40px;
    padding-top: 0;
    background-color: white;
    /*border: 1px #6c5ce7b9 solid;*/
    border-radius: 20px;
    height: calc(100% - 60px);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 4px solid #ffd1ff;
    overflow-y: auto;
    overflow: hidden;
    position: relative;
}

.dm .user-info {
    margin-top: 0px;
    display: flex;
    padding: 10px 20px;
    padding-top: 40px;
    color: #6c5ce7;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 3;
}

.dm .user-info .left {
    display: flex;
}

.dm .user-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dm .user-info .info {
    margin-left: 20px;
}

.dm .user-info .info p {
    margin-top: -10px;
}

.dm .gotoprofile a {
    display: flex;
    color: #6c5ce7;
    outline: none;
    width: 160px;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid #6c5ce7;
}

.dm .gotoprofile a i {
    line-height: 27px;
    margin-left: 5px;
}

.dm .chat div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dm .chat {
    width: 100%;
    overflow: hidden;
    height: 80%;
    overflow-y: auto;
    margin-bottom: 0px;
}

.you {
    position: relative;
    width: auto;
    margin-left: 410px;
}

.nyou {
    margin-left: 0px;
}

.dm .chat div {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px 15px 20px;
    position: relative;
    border-radius: 20px;
}

.dm .chat div h6 {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.dm .chat .you {
    background-color: #6c5ce7c5;
    border-top-right-radius: 0px;
    width: 300px;
}

.dm .chat .nyou {
    background-color: #6c5ce755;
    border-top-left-radius: 0px;
    width: 300px;
}

.dm .send {
    position: relative;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    display: flex;
    overflow: hidden;
}

.dm .send #msgInput {
    width: 90%;
    height: 30px;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    background-color: #6c5ce7c5;
    font-family: 'Poppins', sans-serif;
}

.dm .send i {
    color: #6c5ce7c5;
    font-size: 28px;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1750px) {}