* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(70deg, #fdb33bd0 0%, #ffbc509b 100%);*/
    background-color: #6c5ce76e;
    display: flex;
    user-select: none;
}

.menu {
    width: 15%;
    height: 100vh;
    position: relative;
}

.menu menu {
    position: fixed;
    top: 50%;
    padding: 30px;
    transform: translateY(-50%);
    width: 15%;
}

.menu menu ul {
    list-style: none;
    width: 100%;
}

.menu a {
    text-decoration: none;
    outline: none;
}

.menu menu ul li {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    opacity: 1;
    background-color: #6c5ce76e;
}

.menu ul li i {
    margin-right: 15px;
    width: 10px;
    color: rgb(78, 78, 78);
    color: white;
    line-height: 25px;
}

.menu ul li h4 {
    color: rgb(78, 78, 78);
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

.cont {
    width: 100%;
    display: flex;
}

.container {
    width: 84%;
    position: relative;
    background-color: white;
    height: 96vh;
    margin-top: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

 ::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #6c5ce7c5 0%, #ffd1ff 50%, #6c5ce76e 100%);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #6c5ce7c5;
}

.post .profileimg {
    position: absolute;
    width: 70px;
    height: 70px;
    object-fit: cover;
    left: -25px;
    top: -25px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fullpost {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    position: relative;
    padding-bottom: 10px;
}

.title {
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    color: #6c5ce7;
    text-align: center;
}

#backImg {
    position: absolute;
    left: 50px;
    top: 60px;
    color: #6c5ce7;
    font-size: 30px;
}

.post-cont {
    position: relative;
}

.post-cont img {
    width: 500px;
    max-height: 600px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.fullpost .post-info {
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}

.fullpost #like {
    position: absolute;
    padding: 21px 19px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right: -25px;
    bottom: -25px;
    background-image: linear-gradient(to top, white 0%, white 100%);
    border-radius: 50%;
    color: #6c5ce7;
    cursor: pointer;
    text-align: center;
    transition: linear 0.3s;
}

.fullpost #like:hover {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.fullpost .post-info p {
    opacity: 0.5;
    font-size: 15px;
    color: #6c5ce7;
    font-weight: 700;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

.fullpost .post-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 20px;
    color: #6c5ce7;
}

.post {
    margin-top: 100px;
    margin-left: 50%;
    margin-bottom: 100px;
    width: 500px;
    transform: translateX(-50%);
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d6fff6;
    clip-path: circle(450px at 80% 20%);
    transition: ease-in-out 0.5s;
}

.post-cont {
    position: relative;
}

.post-cont img {
    width: 500px;
    object-fit: cover;
    object-position: center;
}

.fullpost .post-info {
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}

@media screen and (max-width: 1600px) {
    .menu ul li h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1500px) {
    .menu ul li h4 {
        display: none;
    }
    .menu ul li i {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
        transform: translateX(-50%);
    }
    #i3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 850px) {
    .cont {
        display: block;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .menu {
        width: 100%;
        height: 70px;
        position: relative;
    }
    .menu menu {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 20px;
    }
    .menu menu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .menu menu ul li {
        display: flex;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px 20px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    #i3 {
        font-size: 26px;
    }
    menu a {
        margin-left: 10px;
        margin-right: 10px;
    }
    body {
        overflow-y: hidden;
    }
    .container {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 650px) {
    .post-cont img {
        width: 400px;
    }
    .fullpost {
        width: 400px;
    }
    .post {
        width: 400px;
    }
    .fullpost #like {
        right: unset;
        left: 370px;
        padding: 16px 13px;
        font-size: 16px;
        bottom: -25px;
    }
    .post .profileimg {
        width: 50px;
        height: 50px;
        left: -15px;
        top: -15px;
    }
    .fullpost .post-info h3 {
        font-size: 15px;
    }
    .fullpost .post-info p {
        font-size: 13px;
    }
    .fullpost {
        background-color: white;
    }
    #backImg {
        z-index: 100;
    }
}

@media screen and (max-width: 500px) {
    .fullpost .post-info h3 {
        font-size: 12px;
        margin-left: 20px;
    }
    .fullpost .post-info p {
        font-size: 10px;
        margin-left: 20px;
    }
    .menu ul li i {
        font-size: 13px;
        transform: translateX(-50%);
    }
    .menu {
        width: 100%;
        height: 60px;
        position: relative;
    }
    .menu menu {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 10px 20px;
    }
    .menu menu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .menu menu ul li {
        padding: 10px 10px 10px 15px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    menu a {
        margin-left: 5px;
        margin-right: 5px;
    }
    #i3 {
        font-size: 17px;
    }
    .post-cont img {
        width: 250px;
    }
    .fullpost {
        width: 250px;
    }
    .post {
        width: 250px;
    }
    .fullpost #like {
        left: 230px;
        padding: 14px 13px;
        font-size: 13px;
        bottom: -20px;
    }
    .post .profileimg {
        width: 30px;
        height: 30px;
        left: -13px;
        top: -13px;
    }
    #backImg {
        font-size: 19px;
        left: 20px;
    }
    .title {
        font-size: 20px;
        margin-top: 55px;
    }
}

@media screen and (max-width: 350px) {
    #backImg {
        top: 40px;
    }
    .title {
        margin-top: 35px;
    }
    .post {
        margin-top: 20px;
    }
    .fullpost #like {
        left: 175px;
        padding: 14px 13px;
        font-size: 13px;
        bottom: -20px;
    }
    .post .profileimg {
        width: 30px;
        height: 30px;
        left: -13px;
        top: -13px;
    }
    .fullpost .post-info h3 {
        font-size: 12px;
        margin-left: 20px;
    }
    .fullpost .post-info p {
        font-size: 10px;
        margin-left: 20px;
    }
    .menu ul li i {
        font-size: 11px;
    }
    .menu {
        height: 40px;
    }
    .menu menu ul li {
        padding: 2px 2px 2px 10px;
    }
    menu a {
        margin-left: 2px;
        margin-right: 2px;
    }
    #i3 {
        font-size: 16px;
    }
    .container {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        overflow: unset;
        overflow-x: hidden;
        margin-left: 0px;
    }
    .container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #d6fff6;
        clip-path: circle(450px at 80% 20%);
        transition: ease-in-out 0.5s;
    }
    .post-cont img {
        width: 200px;
    }
    .fullpost {
        width: 200px;
    }
    .post {
        width: 200px;
    }
}