* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(70deg, #fdb33bd0 0%, #ffbc509b 100%);*/
    background-color: #6c5ce76e;
    display: flex;
    user-select: none;
}

.menu {
    width: 15%;
    height: 100vh;
    position: relative;
}

.menu menu {
    position: fixed;
    top: 50%;
    padding: 30px;
    transform: translateY(-50%);
    width: 15%;
}

.menu menu ul {
    list-style: none;
    width: 100%;
}

.menu a {
    text-decoration: none;
    outline: none;
}

.menu menu ul li {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    opacity: 1;
    background-color: #6c5ce76e;
}

.menu ul li i {
    margin-right: 15px;
    width: 10px;
    color: rgb(78, 78, 78);
    color: white;
    line-height: 25px;
}

.menu ul li h4 {
    color: rgb(78, 78, 78);
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

.cont {
    width: 100%;
    display: flex;
}

.container {
    width: 84%;
    position: relative;
    background-color: white;
    height: 96vh;
    margin-top: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #6c5ce7c5 0%, #ffd1ff 50%, #6c5ce76e 100%);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #6c5ce7c5;
}

.container {
    overflow-x: hidden;
    overflow-y: auto;
}

.container::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 100px;
    width: 100%;
    height: 100%;
    background-color: #e4ff99;
    overflow: hidden;
    clip-path: circle(450px at 80% 20%);
}

.img-post {
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.image {
    height: 200px;
    max-height: 500px;
    overflow: hidden;
}

.post-cont img {
    width: 500px;
}

.post-cont input {
    display: none;
}

.back {
    position: relative;
    left: 50px;
    top: 60px;
    cursor: pointer;
    font-size: 30px;
    color: #6c5ce7;
}

.newprodtitle {
    margin-left: 50%;
    text-align: center;
    color: #6c5ce7;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    transform: translateX(-50%);
}

.img-part {
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 2400px;
    display: flex;
    background-color: #6c5ce71c;
    overflow: hidden;
    transition: 0.3s linear;
}

.img-part #arrowLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    cursor: pointer;
    padding: 20px;
    color: white;
    background-color: #6c5ce7;
    border-radius: 20px;
    opacity: 0.4;
    transition: linear 0.3s;
    z-index: 4;
}

.img-part #arrowLeft:hover {
    opacity: 1;
}

.img-part #arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1620px;
    cursor: pointer;
    padding: 20px;
    color: white;
    background-color: #6c5ce7;
    border-radius: 20px;
    opacity: 0.4;
    transition: linear 0.3s;
    z-index: 4;
}

.img-part #arrowRight:hover {
    opacity: 1;
}

.product {
    width: 800px;
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    margin-top: 20px;
    border: 4px solid #ffd1ff;
}

.img1 {
    width: 800px;
    position: relative;
    text-align: center;
    border-bottom: 4px solid #ffd1ff;
}

.img2 {
    width: 800px;
    position: relative;
    text-align: center;
    border-bottom: 4px solid #ffd1ff;
}

.vid1 {
    width: 800px;
    border-bottom: 4px solid #ffd1ff;
    position: relative;
    justify-content: center;
}

.vid1 video {
    display: none;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

label h3 {
    font-family: 'Poppins', sans-serif;
    color: #6c5ce7;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -20;
}

select {
    outline: none;
    border: #6c5ce7 1px solid;
    color: #6c5ce7;
}

#imgP,
#imgP2 {
    object-fit: contain;
    max-width: 500px;
    height: 400px;
}

label i {
    font-size: 70px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    color: #6c5ce7;
    cursor: pointer;
    transition: linear 0.2s;
}

label i:hover {
    opacity: 1;
}

#fileInputImg,
#fileInputImg2,
#fileInput3 {
    display: none;
}

.srow {
    display: flex;
    margin-top: 10px;
}

.srow div {
    width: 330px;
    font-family: 'Poppins', sans-serif;
    color: #6c5ce7;
    padding: 0px 20px;
    border-radius: 10px;
}

.srow input {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: transparent;
    width: 100%;
    color: #6c5ce7;
    font-size: 16px;
    outline: none;
}

select {
    outline: none;
}

input[type="submit"] {
    border: 1px solid #6c5ce7;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: 800;
    background-color: white;
    color: #6c5ce7;
    transition: 0.2s linear;
}

input[type="submit"]:hover {
    background-color: #6c5ce7;
    color: white;
}

.srow input::placeholder {
    color: #6c5ce7;
}

.productdescriptiontextarea {
    width: 400px;
    font-family: 'Poppins', sans-serif;
    color: #6c5ce7;
    margin-left: 20px;
    border-radius: 10px;
}

.productdescriptiontextarea h1 {
    font-size: 20px;
}

.productdescriptiontextarea textarea {
    width: 300px;
    resize: none;
    color: #6c5ce7;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    font-size: 16px;
}

.productdescriptiontextarea textarea::placeholder {
    color: #6c5ce7;
}

.lside div h1 {
    font-size: 20px;
}

@media screen and (max-width: 1600px) {
    .menu ul li h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1500px) {
    .img-part #arrowRight {
        right: 1320px;
    }
    .product {
        width: 650px;
    }
    #imgP,
    #imgP2,
    .vid1 video {
        max-width: 650px;
    }
    .srow div {
        width: 250px;
    }
    .productdescriptiontextarea textarea {
        width: 250px;
    }
    .img-part {
        width: 1950px
    }
    .menu ul li h4 {
        display: none;
    }
    .menu ul li i {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
        transform: translateX(-50%);
    }
    #i3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 850px) {
    .img-part #arrowRight {
        right: 1020px;
    }
    .img-part {
        height: 300px;
    }
    #imgP,
    #imgP2,
    .vid1 video {
        height: 300px;
        max-width: 500px;
    }
    .srow {
        display: block;
    }
    .productdescriptiontextarea textarea {
        width: 400px;
        background-color: transparent;
    }
    .newprodtitle {
        font-size: 25px;
    }
    .product {
        width: 500px;
        margin-bottom: 100px;
    }
    .lside {
        margin-bottom: 20px;
    }
    .img-part {
        width: 1500px
    }
    .cont {
        display: block;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .menu {
        width: 100%;
        height: 70px;
        position: relative;
    }
    .menu menu {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 20px;
    }
    .menu menu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .menu menu ul li {
        display: flex;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px 20px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    #i3 {
        font-size: 26px;
    }
    menu a {
        margin-left: 10px;
        margin-right: 10px;
    }
    body {
        overflow-y: hidden;
    }
    .container {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 650px) {
    .productdescriptiontextarea textarea {
        width: 300px;
        background-color: transparent;
    }
    .newprodtitle {
        font-size: 20px;
    }
    .back {
        font-size: 20px;
        left: 40px;
        top: 57px;
    }
    .product {
        width: 400px;
        margin-bottom: 100px;
    }
    .lside {
        margin-bottom: 20px;
    }
    .img-part {
        width: 1200px
    }
    .img-part #arrowRight {
        right: 820px;
    }
    #imgP,
    #imgP2,
    .vid1 video {
        height: 300px;
        max-width: 400px;
    }
    .container::before {
        clip-path: circle(0px at 80% 20%);
    }
}

@media screen and (max-width: 500px) {
    .product {
        width: 250px;
        margin-bottom: 100px;
    }
    .menu ul li i {
        font-size: 13px;
        transform: translateX(-50%);
    }
    .menu {
        width: 100%;
        height: 60px;
        position: relative;
    }
    .menu menu {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 10px 20px;
    }
    .menu menu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .menu menu ul li {
        padding: 10px 10px 10px 15px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    menu a {
        margin-left: 5px;
        margin-right: 5px;
    }
    #i3 {
        font-size: 17px;
    }
    .img-part {
        width: 750px
    }
    .img-part #arrowRight {
        right: 520px;
        padding: 10px;
    }
    .img-part #arrowLeft {
        padding: 10px;
    }
    label i {
        font-size: 50px;
    }
    .img-part {
        height: 200px;
    }
    #imgP,
    #imgP2,
    .vid1 video {
        height: 200px;
        max-width: 250px;
    }
    .srow div {
        padding: 0 10px;
        width: 220px;
    }
    input[type="submit"] {
        margin-left: 10px;
    }
    .productdescriptiontextarea {
        margin-left: 10px;
    }
    .productdescriptiontextarea textarea {
        width: 220px;
        font-size: 13px;
    }
    .productdescriptiontextarea h1,
    .srow div h1 {
        font-size: 16px;
    }
    .srow div input {
        font-size: 13px;
    }
    .newprodtitle {
        font-size: 16px;
        width: 220px;
    }
    .back {
        font-size: 17px;
        left: 35px;
        top: 54px;
    }
}

@media screen and (max-width: 350px) {
    .back {
        font-size: 17px;
        left: 18px;
        top: 54px;
    }
    .product {
        background-color: white;
    }
    .menu ul li i {
        font-size: 11px;
    }
    .menu {
        height: 40px;
    }
    .menu menu ul li {
        padding: 2px 2px 2px 10px;
    }
    menu a {
        margin-left: 2px;
        margin-right: 2px;
    }
    #i3 {
        font-size: 16px;
    }
    .container {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        overflow: unset;
        overflow-x: hidden;
        margin-left: 0px;
    }
}